In [9]:
import pandas as pd 
from mlxtend.frequent_patterns import apriori , association_rules

In [10]:
address = r'C:\Users\Dell\Python For Data Science\Data\groceries.csv'

data = pd.read_csv(address )

In [11]:
data.head()

,1,2,3,4,5,6,7,8,9
0,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN
1,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN
2,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN
4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN

In [12]:
basket_sets = pd.get_dummies(data)

In [13]:
basket_sets.head()

,1_Instant food products,1_UHT-milk,1_artif. sweetener,1_baby cosmetics,1_bags,1_baking powder,1_bathroom cleaner,1_beef,1_berries,1_beverages,...,9_sweet spreads,9_tea,9_vinegar,9_waffles,9_whipped/sour cream,9_white bread,9_white wine,9_whole milk,9_yogurt,9_zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
x = apriori(basket_sets , min_support = 0.02)

C:\Users\Dell\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [19]:
y = apriori(basket_sets , min_support = 0.02 , use_colnames = True)

C:\Users\Dell\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [20]:
df = basket_sets

frequent_itemsets = apriori(basket_sets , min_support = 0.002 , use_colnames = True)

frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x : len(x))

frequent_itemsets.head(100)

C:\Users\Dell\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                      itemsets  length
0   0.006472                  (1_UHT-milk)       1
1   0.030421                      (1_beef)       1
2   0.011974                   (1_berries)       1
3   0.008414                 (1_beverages)       1
4   0.014887              (1_bottled beer)       1
..       ...                           ...     ...
95  0.002913                 (2_ice cream)       1
96  0.002913                    (2_liquor)       1
97  0.003236  (2_long life bakery product)       1
98  0.005502                 (2_margarine)       1
99  0.006796                      (2_meat)       1

[100 rows x 3 columns]

In [17]:
frequent_itemsets[frequent_itemsets['length'] >= 3]

      support                                           itemsets  length
820  0.002589    (3_other vegetables, 2_root vegetables, 1_beef)       3
821  0.002589      (1_chicken, 3_whole milk, 2_other vegetables)       3
822  0.002589  (3_whole milk, 1_citrus fruit, 2_other vegetab...       3
823  0.003236    (1_citrus fruit, 3_pip fruit, 2_tropical fruit)       3
824  0.002589  (3_other vegetables, 4_whole milk, 1_citrus fr...       3
825  0.002265  (1_frankfurter, 5_other vegetables, 6_whole milk)       3
826  0.002265         (1_pork, 3_other vegetables, 4_whole milk)       3
827  0.003560  (1_root vegetables, 3_whole milk, 2_other vege...       3
828  0.002589                  (3_soda, 1_sausage, 2_rolls/buns)       3
829  0.002265      (3_other vegetables, 4_whole milk, 1_sausage)       3
830  0.002265      (5_whole milk, 1_sausage, 4_other vegetables)       3
831  0.002913  (1_tropical fruit, 3_whole milk, 2_other veget...       3
832  0.002265  (4_other vegetables, 2_citrus fruit, 5_whole m...       3
833  0.002265       (3_whole milk, 4_butter, 2_other vegetables)       3
834  0.003560         (4_curd, 3_whole milk, 2_other vegetables)       3
835  0.003883       (3_whole milk, 4_yogurt, 2_other vegetables)       3
836  0.002265   (6_rolls/buns, 3_whole milk, 2_other vegetables)       3
837  0.003236    (3_other vegetables, 4_whole milk, 2_pip fruit)       3
838  0.005825  (3_other vegetables, 2_root vegetables, 4_whol...       3
839  0.002265  (4_other vegetables, 3_pip fruit, 2_tropical f...       3
840  0.003560       (3_other vegetables, 4_whole milk, 5_butter)       3
841  0.002913       (5_yogurt, 3_other vegetables, 4_whole milk)       3
842  0.003560       (3_other vegetables, 6_yogurt, 4_whole milk)       3
843  0.002265  (3_pip fruit, 5_other vegetables, 4_root veget...       3
844  0.002265    (3_pip fruit, 5_other vegetables, 6_whole milk)       3
845  0.002589  (3_root vegetables, 4_other vegetables, 5_whol...       3
846  0.002913                   (5_yogurt, 4_curd, 3_whole milk)       3
847  0.003236  (5_other vegetables, 6_whole milk, 4_root vege...       3
848  0.002265       (5_other vegetables, 7_butter, 6_whole milk)       3

In [23]:
rules = association_rules(frequent_itemsets , metric = "confidence" , min_threshold = 0.5)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(2_sausage),(1_frankfurter),0.011327,0.064401,0.011327,1.000000,15.527638,0.010597,inf
1,(7_pastry),(1_frankfurter),0.005178,0.064401,0.002589,0.500000,7.763819,0.002256,1.871197
2,(2_ham),(1_sausage),0.007120,0.076052,0.004531,0.636364,8.367505,0.003989,2.540858
3,(2_meat),(1_sausage),0.006796,0.076052,0.004854,0.714286,9.392097,0.004338,3.233819
4,(3_beef),(1_sausage),0.004854,0.076052,0.002589,0.533333,7.012766,0.002220,1.979889

In [24]:
rules = association_rules(frequent_itemsets , metric = "lift" , min_threshold = 1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(2_citrus fruit),(1_beef),0.028803,0.030421,0.005502,0.191011,6.278986,0.004625,1.198508
1,(1_beef),(2_citrus fruit),0.030421,0.028803,0.005502,0.180851,6.278986,0.004625,1.185618
2,(1_beef),(2_other vegetables),0.030421,0.058900,0.003236,0.106383,1.806173,0.001444,1.053136
3,(2_other vegetables),(1_beef),0.058900,0.030421,0.003236,0.054945,1.806173,0.001444,1.025950
4,(2_root vegetables),(1_beef),0.036893,0.030421,0.005502,0.149123,4.902016,0.004379,1.139506

In [38]:
round(rules[(rules['lift']>= 5) & (rules['confidence']>= 0.5)] , 4)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
93,(2_sausage),(1_frankfurter),0.0113,0.0644,0.0113,1.0000,15.5276,0.0106,inf
137,(7_pastry),(1_frankfurter),0.0052,0.0644,0.0026,0.5000,7.7638,0.0023,1.8712
239,(2_ham),(1_sausage),0.0071,0.0761,0.0045,0.6364,8.3675,0.0040,2.5409
242,(2_meat),(1_sausage),0.0068,0.0761,0.0049,0.7143,9.3921,0.0043,3.2338
259,(3_beef),(1_sausage),0.0049,0.0761,0.0026,0.5333,7.0128,0.0022,1.9799
...,...,...,...,...,...,...,...,...,...
959,"(5_other vegetables, 4_root vegetables)",(6_whole milk),0.0052,0.0094,0.0032,0.6250,66.5948,0.0032,2.6416
960,"(6_whole milk, 4_root vegetables)",(5_other vegetables),0.0039,0.0126,0.0032,0.8333,66.0256,0.0032,5.9243
964,"(5_other vegetables, 7_butter)",(6_whole milk),0.0026,0.0094,0.0023,0.8750,93.2328,0.0022,7.9249
966,"(7_butter, 6_whole milk)",(5_other vegetables),0.0029,0.0126,0.0023,0.7778,61.6239,0.0022,4.4432
968,(7_butter),"(5_other vegetables, 6_whole milk)",0.0042,0.0074,0.0023,0.5385,72.3411,0.0022,2.1505